@page "/"
  <div class="container-fluid main-page">
    <div class="row">
        <div class="row col-md-2 col-xs-12 main-sidebar m-0 p-0" >
            <div class="col-md-12 main-sidebar-origin  m-0 p-0" style="background-color:red">
            <NavMenu></NavMenu> 
            </div>
        
        </div>

        <div class="col-md-10 main-body" style="background-color:cornflowerblue; height:94vh;">
            <div class="row main-body-search" style="background-color:coral;">

            </div>
            <div class="row main-body-patient-list" style="background-color:green;">
            </div>

        </div>
    </div>
    <div class="row main-page-footer bg-primary-subtle" style="background-color:yellow;">

       <ClinicFooter></ClinicFooter>

    </div>


</div> 
 










@* <div class="container-fluid"> *@


@*  <div class="row main-body">

                <div class="col-md-3">
                      <NavMenu />
                </div>
            <div class="col-md-9">
                <div class="row">
                <div class="col-md-12">
                     <div class="search-bar bg-black">
                         hiii
                     </div>
                     <div class="patient-list bg-info">
                         helooo
                     </div>


                </div>
            </div> *@
@* hi *@
@*  <article class="content px-4">
                    @Body
                </article>
                <div class="search-box">
                    Hello
                </div> *@
@*      </div>
         </div>  *@




@* </div> *@

@* </div> *@

@*  <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        </main>*@

@* </div> *@
@* <ClinicFooter />  *@
@* </div> *@
@* </div> *@



@* <PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@
