




/*body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/
.main-sidebar {
  height:94vh;
}
/*.clinic-footer {
    bottom: 0;
    height: 5vh;
    width: 100.8vw;
}*/
.nav-main > li > a {
    transition:all .4s;
}
.nav-main > li > a:hover {
    background-color: #0d6efd;
}
/*.search-box{
    height:20vh;
    width:100%;
    border:solid 1px black;
}*/

