

* {
    box-sizing: border-box ;
    margin: 0 ;
    padding: 0 ;
}
.main-page {
    height: 100vh;
    width: 105vw;
}

.main-sidebar {
    height: 94vh;
}

.main-sidebar-origin {
    height: 94vh;
}


.nav-main > li > a {
    transition:all .4s;
}
.nav-main > li > a:hover {
        background-color: #0d6efd;
}
.main-body {
    height: 94vh;
}
.main-body-search {
    height: 28vh;
}

.main-body-patient-list {
    height: 66vh;
}
.main-page-footer {
    height: 6vh;
}
/*.search-box{
    height:20vh;
    width:100%;
    border:solid 1px black;
}*/

.main-left-sidebar {
    height: 94vh;
    background-color: rgb(14, 34, 56);
}







.input-reception{
    height:6vh;
    /*margin:1rem 0 1rem 0;*/
    margin-top:.5vh;
    margin-left :1vh;
    margin-right:3vh
}
.reception-label{
    width:14vw;
    font-weight:600;
}

.bt-submit {
    width: 19vw !important;
    height: 6vh !important;
    margin-top: 3vh !important;

}
.service-label {
    width: 10% !important;
    font-weight: 600;
}
.service-input {
    width: 30% !important;
}
.service-main {
    margin-top: .5vh !important;
    margin-bottom: .5vh !important;
}