@inherits LayoutComponentBase
<div class="container-fluid main-page">
    <div class="row">
        <div class="col-md-3 main-sidebar" style="background-color:pink; height:94vh">
            <div class="col-md-11 main-sidebar-origin">
                <NavMenu/> 
            </div>
           @*  <div class="col-md-1 main-sidebar-space" style="background-color:blue; height:94vh"></div> *@
        </div>

        <div class="col-md-9 main-body" style="background-color:cornflowerblue; height:94vh;">
            <div class="row main-body-search" style="background-color:yellow; height:28vh;">



            </div>
            <div class="row main-body-patient-list" style="background-color:green; height:66vh;">



            </div>
        </div>
    </div>
    <div class="row main-page-footer bg-primary-subtle">
        @* <div class="main-page-footer"> *@
            <ClinicFooter></ClinicFooter>
        @* </div> *@
        @* <div class="col-md-9" style="background-color:cornflowerblue; height:90vh;"></div> *@
    </div>


</div>











@* <div class="container-fluid"> *@


        @*  <div class="row main-body"> 
           
                <div class="col-md-3"> 
                      <NavMenu /> 
                </div> 
            <div class="col-md-9">
                <div class="row">
                <div class="col-md-12">
                     <div class="search-bar bg-black">
                         hiii
                     </div>
                     <div class="patient-list bg-info">
                         helooo
                     </div>


                </div>
            </div> *@
            @* hi *@
          @*  <article class="content px-4">
                    @Body
                </article>
                <div class="search-box">
                    Hello
                </div> *@
        @*      </div> 
         </div>  *@
          
      
       

        @* </div> *@
  
    @* </div> *@

        @*  <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        </main>*@

@* </div> *@
@* <ClinicFooter />  *@
@* </div> *@
@* </div> *@

