
<div class="container-fluid">
    <div class="d-flex flex-column  p-3 text-white  main-left-sidebar">
        <div class="row">
            <a href="/" class="d-flex align-items-center my-3 text-decoration-none ps-3">
                <i class="far fa-hospital me-2 fa-2xl pe-2" style="color:white"></i>
                <span class="fs-4 text-white">Alberta Clinic</span>
            </a>
            <hr />
            <ul class="nav nav-pills flex-column my-2 nav-main">
                
                <li>
                    <a href="/freception" class="nav-link text-white fa-2x my-2 ps-3 d-flex align-content-lg-center">
                        <i class="fas fa-user-nurse me-2 fa-2x pe-2 my-1"></i>
                        <span class="my-1">Reception</span>
                       
                    </a>
                </li>
                <li class="">
                    <a href="#" class="nav-link text-white fa-2x my-2 ps-3 d-flex align-content-lg-center active">
                        <i class="fas fa-search me-1 fa-2x  pe-2 my-2"></i>
                        
                        <span class="my-1">Search</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white fa-2x my-2 ps-3 d-flex align-content-lg-centere">
                        <i class="fa-solid fa-calendar-days me-1 fa-2x  pe-2 my-2"></i>
                        <span class="my-1">Reservation</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white fa-2x my-2 ps-3 d-flex align-content-lg-center">
                        <i class="fa-solid fa-stethoscope me-1 fa-2x  pe-2 my-2"></i>
                        <span class="my-1">Medicines</span>
                        
                    </a>

                </li>
                <li>
                    <a href="#" class="nav-link text-white fa-2x my-2 ps-3 d-flex align-content-lg-center">
                        <i class="far fa-file me-1 fa-2x  pe-2 my-2"></i>
                        <span class="my-1">Reports</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link text-white fa-2x my-2 ps-3 d-flex align-content-lg-center">
                        <i class="fa-solid fa-users me-1 fa-1.9x pe-2 my-2"></i>
                        Users
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


@* <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark main-left-sidebar d-inline-block">

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="fa-regular fa-hospital me-2 fa-2xl"></i>
        <span class="fs-4">Alberta Clinic</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto nav-main">
        <li>
            <NavLink href="/freception" class="nav-link text-white fa-2x">
                <i class="fas fa-user-nurse me-2 fa-2x"></i>
                Reception
            </NavLink>

        </li>
        <li>
            <a href="#" class="nav-link text-white fa-2x active" aria-current="page">
                <i class="fas fa-search me-2 fa-2x"></i>
                Search
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white" aria-current="page">
                <i class="fa-solid fa-calendar-days me-2 fa-2x" aria-hidden="true"></i>

                Reservation
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-stethoscope fa-2x" aria-hidden="true"></i>
                Medicines
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">

                <i class="far fa-file me-2 fa-2x" aria-hidden="true"></i>
                Reports
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-users me-2 fa-1.9x"></i>
                Users
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>About Me</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div> *@
@code {

}
